:root {
  --primary-body-text: #e1e6f0;
  --body-background: #0d0e12;
  --body-contrast-1: #ffffff14;
  --body-contrast-2: #ffffff69;
  --body-contrast-3: #41434d;
  --body-contrast-4: #ffffff24;
  --primary-invert-1: #cccccc;
  --primary-invert-2: #8e8e8e;
  --primary-invert-3: #a2a2a2;
  --primary-invert-4: #2c2c2c;
  --primary-invert-5: #909090;
  --secondary-text: #fff;
  --primary-dark: #000;
}
.light-theme {
  --primary-body-text: #000000;
  --body-background: #ffffff;
  --body-contrast-1: #00000014;
  --body-contrast-2: #ffffff69;
  --body-contrast-3: #41434d;
  --body-contrast-4: #00000014;
  --primary-invert-1: #cccccc;
  --primary-invert-2: #404040;
  --primary-invert-3: #3a3a3a;
  --primary-invert-4: #d5d5d5;
  --primary-invert-5: #909090;
  --secondary-text: #000;
  --primary-dark: #000;
  --primary-contrast-3: #c9c9c9;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
.logo-txt {
  font-family: "Teko", sans-serif;
  font-size: 25pt;
}

body {
  background: var(--body-background);
  color: var(--primary-body-text);
  overflow-anchor: none;
}

nav.header-logo {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0px 20px;
  stroke-dashoffset: 35px;
  cursor: pointer;
}
.section {
  margin: auto;
  width: 90%;
  margin-top: 1rem;
}

.ttl-1 {
  font-weight: 600;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: -5px;
  display: inline-block;
  margin-bottom: 10px;
}

.list-img img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  /* border: 3px solid #607d8b; */
  /* padding: 4px; */
  box-sizing: border-box;
}

.list-container {
  display: flex;
  width: 100%;
  transition: 0.12s;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  background: var(--body-contrast-1);
  margin-bottom: 14px;
  padding: 11px 5px;
  box-sizing: border-box;
  border-radius: 13px;
  padding-left: 10px;
}

.list-title {
  white-space: pre-line;
  font-size: 13pt;
}

.lab-list-roll {
  background: #00ff0a36;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 11pt;
  color: #2cc031;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 7px;
}

section.search-bar-wrapper {
  padding: 10px 0;
}

.search-container {
  background: var(--body-contrast-1);
  display: flex;
  width: 100%;
  padding: 9px 16px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 16px;
}

input.search-input {
  flex: 1;
}

svg.ic-searchBar {
  font-size: 17pt;
  transition: 0.12s;
  color: var(--primary-invert-1);
}

input.search-input {
  background: transparent;
  border: none;
  padding: 11px;
  color: var(--secondary-text);
}

input.search-input:focus {
  outline: none;
}
.list-role {
  background: #00968873;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 11pt;
  color: #009688;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 7px;
}
.blood-group-container {
  display: flex;
  justify-content: start;
  flex-flow: wrap;
  gap: 10px;
}

.blood-grp {
  border: 2px solid var(--body-contrast-2);
  padding: 4px 11px;
  border-radius: 22px;
  transition: 0.2s;
  cursor: pointer;
}

p.lab-1 {
  margin-bottom: 9px;
}

.search-filter-wrapper {
  margin-bottom: 8px;
}

.blood-grp:active {
  background: #ffffff26;
}
.bg-selected {
  background: var(--secondary-text);
  color: var(--primary-dark);
}
svg#filter-btn:active {
  scale: 1.1;
}
.list-container:active {
  background: var(--primary-contrast-3);
  scale: 1.08;
}
a.stack-parent {
  color: var(--primary-invert-2);
  text-decoration: none;
}
a.stack-parent:hover {
  color: var(--secondary-text);
}

.stack-listsdspdhty22 {
  display: flex;
  flex-flow: wrap;
  color: var(--secondary-text);
  gap: 48px;
  justify-content: center;
  align-items: center;
}

svg.ic_stack_ic {
  font-size: 40pt;
}

.stack-widget {
  width: 90%;
  margin: auto;
}

.stack-widget-lab {
  text-decoration: none;
}

h1.lab-2 {
  font-size: 18pt;
  padding: 22px 7px;
  color: var(--secondary-text);
}
footer.footer {
  background: #00000000;
  margin-top: 35px;
}

p.lab3 {
  font-weight: bold;
  padding: 16px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 1px 16px;
}

a.social_mxedcnamdjd8787j32h {
  color: var(--secondary-text);
}

a.foot_li0 {
  color: var(--primary-invert-3);
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 11px;
  margin-bottom: 17px;
}

svg.contact-ic {
  font-size: 20pt;
}

.copytight_sec {
  border-top: 2px solid var(--primary-invert-4);
  padding: 13px 9px;
  box-sizing: border-box;
  text-align: center;
}

.c3k30_9dsfed8d {
  color: #747474;
}

.dev-credit svg {
  color: #e91e63;
  font-size: 14pt;
}

.dev-credit {
  color: var(--primary-invert-2);
  margin-bottom: 7px;
}
.ic_ruet {
  text-align: center;
}

.ic_ruet img {
  filter: brightness(0.7);
}

.spinner-wrapper {
  display: flex;
  margin: 31px 0px;
  justify-content: center;
}
.profile_container {
  width: 95%;
  margin: auto;
  margin-top: 2rem;
}

.dp045dswh img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #2196f3;
  padding: 10px;
}

.ude7yd3i3ej {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.\39 98304urr4 {
  font-size: 23pt;
  font-weight: 300;
}
.roll0i98 {
  color: var(--primary-invert-5);
  font-weight: 700;
}

.pr0fidj_j3iej3dem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.verified_badge {
  background: #03a9f442;
  display: flex;
  justify-content: center;
  padding: 5px 15px;
  align-items: center;
  gap: 10px;
  margin-top: 6px;
  border-radius: 6px;
  color: #41abff;
  font-weight: 600;
}

.verified_badge svg {
  font-size: 14pt;
}
.lab-4 {
  font-size: 21pt;
  margin-top: 2rem;
  padding: 5px 20px;
  margin-bottom: 1.5rem;
}

.infoCardHeader {
  padding: 13px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--body-contrast-4);
}

.infoCardWrapper {
  background: var(--body-contrast-1);
  transition: 0.15s ease;
}

.info-cards-container {
  width: 95%;
  margin: auto;
  border-radius: 13px;
  overflow: auto;
}

.infoCardDropDownIC {
  font-size: 15pt;
  color: #747474;
}

.infoCardTitle {
  font-weight: 700;
}

.infoCardBody {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 15px;
  overflow: auto;
  transition: 0.15 ease;
}

.infoCardCopyIc svg {
  color: #ffffff69;
  font-size: 15pt;
}
nav a {
  text-decoration: none;
  color: var(--secondary-text);
}
.infoCardHeaderBar {
  display: flex;
  gap: 8px;
  text-align: center;
}
.infoCardHeaderBar {
  display: flex;
  gap: 8px;
  text-align: center;
}

svg.headerBackBtn {
  font-size: 20pt;
  background: #31313100;
  height: 32px;
  width: 32px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 0.15s;
  cursor: pointer;
}

svg.themeToggleBtn {
  font-size: 18pt;
  cursor: pointer;
}
svg.headerBackBtn:active {
  background-color: #202125;
}
svg.dummyBtn {
  font-size: 20pt;
  background: #31313100;
  height: 32px;
  width: 32px;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 50%;
  transition: 0.15s;
}

svg.dummyBtn:active {
  background-color: #202125;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.dumHeader {
  font-size: 43pt;
  padding: 13px 0px;
  font-weight: bold;
  font-family: "Roboto Slab", sans-serif !important;
}

.dummified {
  width: 90%;
  margin: auto;
}

.dumBody {
  font-size: 15pt;
  line-height: 32px;
  font-family: "Roboto Slab", sans-serif !important;
}
@media (min-width: 650px) {
  .list-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 26rem;
    height: 13rem;
    justify-content: space-between;
  }

  .list-img img {
    border-radius: 10px !important;
    height: 120px;
    width: 120px;
    margin-left: -50px;
  }

  .list-meta {
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
  }

  .list-title {
    font-size: 19pt;
  }

  .feed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    gap: 82px;
  }

  section.search-bar-wrapper {
    width: 30rem;
    margin: auto;
  }
  .profile_container {
    width: 51rem;
    margin: auto;
    margin-top: 25px;
  }
  .dummified {
    width: 37rem;
    margin-top: 37px;
  }
}
.list-container:hover {
  background: var(--body-contrast-3);
}
a.foot_li0:hover {
  color: #fff;
}
.\34 04_head {
  font-size: 58pt;
  font-weight: bold;
  font-family: "Roboto Slab", sans-serif;
}
